<!DOCTYPE html>
{%load staticfiles%}
<html>
    <head>
        <meta charset="UTF-8">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/chessGame.css' %}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--
        검은 폰 a
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194987-200.png" style="width:70px;height:65px"/>
        검은 나이트 c
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194989-200.png" style="width:70px;height:65px"/>
        검은 비숍 d
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194985-200.png" style="width:70px;height:65px"/>
        검은 룩 b
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194991-200.png" style="width:70px;height:65px"/>
        검은 퀸 e
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194984-200.png" style="width:70px;height:65px"/>
        검은 킹 f
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194983-200.png" style="width:70px;height:65px"/>

        하얀 폰 g
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194990-200.png" style="width:70px;height:65px"/>
        하얀 나이트 i
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194986-200.png" style="width:70px;height:65px"/>
        하얀 비숍 j
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194979-200.png" style="width:70px;height:65px"/>
        하얀 룩 h
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194988-200.png" style="width:70px;height:65px"/>
        하얀 퀸 k
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194980-200.png" style="width:70px;height:65px"/>
        하얀 킹 l
        <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194981-200.png" style="width:70px;height:65px"/>

        -->

        
    </head>
    {% load staticfiles %}
    <body>
        <div class="container" style="margin-top:50px; background-color:lightblue">
            <div class="row">
              <div class="col-md-8 col-xs-8">
              <h1>체스판</h1>
                <div style="margin-left:0px;margin-bottom:-20px;margin-top:15px;" class="row">
                <div class="col-md-1" style="margin-left:-20px;margin-right:-20px;">
                  <div class="col-md-1" style="margin-bottom:20px;margin-top:45px;">0</div>
                  <div class="col-md-1" style="margin-right:0px;margin-bottom:20px;margin-top:30px;">1</div>
                  <div class="col-md-1" style="margin-left:0px;margin-bottom:20px;margin-top:30px;">2</div>
                  <div class="col-md-1" style="margin-left:0px;margin-bottom:20px;margin-top:30px;">3</div>
                  <div class="col-md-1" style="margin-left:0px;margin-bottom:20px;margin-top:30px;">4</div>
                  <div class="col-md-1" style="margin-left:0px;margin-bottom:20px;margin-top:30px;">5</div>
                  <div class="col-md-1" style="margin-left:0px;margin-bottom:20px;margin-top:30px;">6</div>
                  <div class="col-md-1" style="margin-left:0px;margin-bottom:20px;margin-top:30px;">7</div>

                </div>

                <div class="col-md-1" style="margin-left:7px">0</div>
                <div class="col-md-1" style="margin-left:7px">1</div>
                <div class="col-md-1" style="margin-left:7px">2</div>
                <div class="col-md-1" style="margin-left:7px">3</div>
                <div class="col-md-1" style="margin-left:7px">4</div>
                <div class="col-md-1" style="margin-left:7px">5</div>
                <div class="col-md-1" style="margin-left:7px">6</div>
                <div class="col-md-1" style="margin-left:7px">7</div>
            <!--  </div>-->
              <table id="chess" style="padding-left:20px;">
              {%for piece in board%}
              <tr>
                    {%for i in piece%}
                    {%if i == 'a'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194987-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'b'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194991-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'c'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194989-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'd'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194985-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'e'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194984-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'f'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194983-200.png" style="width:70px;height:65px"/></td>

                    {%elif i == 'g'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194990-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'h'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194988-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'i'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194986-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'j'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194979-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'k'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194980-200.png" style="width:70px;height:65px"/></td>
                    {%elif i == 'l'%}
                    <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/194981-200.png" style="width:70px;height:65px"/></td>
                    {%else%}
                    <td></td>


                    {%endif%}
                    {%endfor%}
              </tr>
              {%endfor%}
              </table>
            </div>

              <br>
              <form style="margin-top:20px" action="/room/{{room.id}}/chess/ing/{{me.id}}/" method="POST">
              {%csrf_token%}
                <div class="form-group">
                  <input name="move" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">보내기</button>
              </form>
                <p></p>    
                <a href="/room/{{room.id}}/{{me.id}}/out/">
                  <button>기권</button>
                </a>  
              </div>
              <div class="col-md-4 col-xs-4">
                  <div class="well" style="margin-top:80px;"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/189657-200.png" style="width:30px;height:30px">{{room.user1}}</div>
                  <div class="well"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/189586-200.png" style="width:30px;height:30px">{{room.user2}}</div>
                
                  <a href="/room/{{room.id}}/chess/{{me.id}}/game/"><button type="button" class="btn btn-primary">게임방법</button></a><br><br>
                  <font size="+2" color="red">{{cout}}</font>

                  <img src = "{% static 'image/chess.jpg' %}" width = 350px; style="margin-top:125px;margin-left:24px;" />
              </div>
            </div>
      </div>
    </body>
</html>