<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="5">
    </head>
    {% load staticfiles %}  
    <body>
        <div class="container" style="margin-top:20px; background-color:lightblue">
            <div class="row">
              <div class="col-md-8 col-xs-8">
                <h1>{{room.id}}. {{room.name}}</h1>
                <a href="/room/{{room.id}}/room_to_chess/{{me.id}}/">
                  <div class="well" style="cursor:pointer; margin-top:500px">게임 시작</div>
                </a>
                <a href="/room/{{room.id}}/{{me.id}}/out/">
                  <button>방나가기</button>
                </a>
              </div>
              <div class="col-md-4 col-xs-4">
                  <div class="well" style="margin-top:20px;">{{room.user1}}</div>
                  <div class="well">{{room.user2}}</div>
                  <img src = "{% static 'image/chess.jpg' %}" width = 350px; style="margin-top:180px;margin-left:24px;" />
              </div>
            </div>
      </div>
    </body>
</html>