#chess {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}    
td {
    width: 40px;
    height: 40px;
}
a {
    font-weigt: 600;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background-color: grey;
}
tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
    background-color: #CCC;
}
